---
import GlyphImage from "./GlyphImage";
---

<div class="notes">
  <ul>
    <li>
      <a href="https://glyphwiki.org/">グリフウィキ</a>に<span
        id="meta_dump_time"></span>登録されているグリフ<span id="meta_nglyphs"
      ></span>から手書きで検索することができます。
    </li>
    <li>検索したい字を黄色の枠いっぱいにバランス良く書きます。</li>
    <li>
      （明朝体で）垂直な画はなるべく垂直に、水平な画はなるべく水平に、斜めな画（点・払いなど）は斜めに書きます。
    </li>
    <li>
      グリフデータと同じ画数で書くことが重要です。
      <ul>
        <li>
          「口」の2画目 <GlyphImage name="u31d5" /> などは本来つなげて書きますが、横と縦の2回に分けて書きます。
          <GlyphImage name="u53e3" /> は4画で、 <GlyphImage name="u961d" /> は4画で、
          <GlyphImage name="u5e7a" /> は5画で、 <GlyphImage name="u6c35-j" /> は4画で書きます。
        </li>
        <li>一方で <GlyphImage name="u4e5a" /> はつなげて（1画で）書きます。</li>
        <li>
          <GlyphImage name="u31da" />
          <GlyphImage name="u31c1" />
          <GlyphImage name="u31c2" />
          <GlyphImage name="u31df" />
          の終筆のハネを書く必要はありません。
        </li>
      </ul>
    </li>
    <li>書き順は検索結果に影響しません。</li>
    <li>
      検索結果が字のバランスに影響されやすいので、見つからないときはバランスを変えながら何度か検索してみてください。
    </li>
    <li>
      ユーザ占有グリフ、非漢字グリフ、hitsujun-グリフは検索対象から外しています。
    </li>
    <li>
      最新版が削除されているグリフを部品として引用するグリフや、回転・反転機能を利用するグリフは正しく検索できないことがあります。
    </li>
    <li>
      リソース節約のため、検索が長らく行われないとサーバが終了した状態になります。サーバが起動して検索ができるようになるまで20〜30秒かかることがありますが、ひとたび起動すればスムーズに検索できると思います。（要改善と認識しています）
    </li>
    <li>
      このサービスのソースコードは<a
        href="https://github.com/kurgm/gwtegaki"
        target="_blank">GitHub</a
      >で公開しています。
    </li>
    <li>
      このサービスの作者 (<a href="https://github.com/kurgm" target="_blank"
        >@kurgm</a
      > / <a href="https://glyphwiki.org/wiki/User:twe" target="_blank"
        >利用者:twe</a
      >) は、検索結果の正確性や字形/字体の実在性を一切保証しません。
    </li>
  </ul>
</div>

<style>
  .notes {
    padding: 10px;
    font-size: 90%;
    max-width: 50em;
    margin: 0 auto;
  }
</style>

<script>
  import { metaAtom } from "../store.js";

  metaAtom.subscribe((meta) => {
    if (!meta) return;
    const dumpTimeText = `${new Date(meta.dumpTime).toLocaleString("ja-JP", {
      timeZoneName: "short",
    })}時点で`;
    const nGlyphsText = `のうち${meta.numItems}個`;
    document.getElementById("meta_dump_time")!.textContent = dumpTimeText;
    document.getElementById("meta_nglyphs")!.textContent = nGlyphsText;
  });
</script>
